<body>
    
    <!-- <div id="BackgroundSphere1"></div> -->
   
    <%- include('leftpane', {"data": data}) %>
    <%- include('rightpane', {"data": data})%> 
    <%- include('pdf', {"data": data})%>

    
    <style>

        #pdf h1, #pdf h2, #pdf p{
            color: black !important;
        }

        h1,p {
            color: #d9f8df;
        }
        
        body {
            margin: 0;
            padding: 0;
            background: #b8d7cc;
            overflow: hidden;
        }
        
        #BackgroundSphere1 {
            height: 100vh;
            width: 100vh;
            background-color: #68be9f;
            position: absolute;
            bottom: -50vh;
            left: 25vw;
            border-radius: 50%;
            z-index: -2;
        }
        
        a:link{
            color: #779c7e;
        }

        a:visited {
            color: #779c7e;
        }
        
        
        .Hidden {
            display: none;
        }
        
        .SlideInLeft {
            animation: slide-in-left 150ms ease 1 forwards;
        }
        
        .SlideInRight {
            animation: slide-in-right 150ms ease 1 forwards;
        }
        .SlideOutLeft {
            animation: slide-out-left 150ms ease 1 forwards;
        }
        .SlideOutRight {
            animation: slide-out-right 150ms ease 1 forwards;
        }
        
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        @keyframes slide-in-right {
            0% {
                opacity: 0;
                translate: -150px;
            }
            100% {
                opacity: 1;
                translate: 0px;
            }
        }
        
        @keyframes slide-in-left {
            0% {
                opacity: 0;
                translate: 150px;
            }
            100% {
                opacity: 1;
                translate: 0px;
            }
        }
        
        @keyframes slide-out-right {
            0% {
                opacity: 1;
                translate: 0px;
            }
            100% {
                opacity: 0;
                translate: -150px;
            }
        }
        
        @keyframes slide-out-left {
            0% {
                opacity: 1;
                translate: 0px;
            }
            100% {
                opacity: 0;
                translate: 150px;
            }
        }
    </style>
</body>