<%#
This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences)
 %>

<html>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,700;1,7..72,400&display=swap');

        body{
            margin: 0px;
        }

    </style>
    <%- include('head') %>
    <body>
         <%- include('leftpane-citationgraph', {"data": data}) %>
         <%- include('starfieldgraph', {"data": data}) %>
    </body>
</html>