<div class="Citation">
    <div class="info1">
        <div class="info2">
            <h1 class="title"><% citations.title %></h1>
            <h2 class="middot" >&middot;</h2>
            <h2 class="authors">Lorem ipsum</h2>
        </div>
        <h3 class="description">consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.</h3>
    </div>
    <div class="doi"><p>10.3866/PKU.WHXB201112303</p></div>
    <div class="link"><a><i class="fa-solid fa-link"></i></a></div>
</div>
