<div class="CitationsContainer ActiveTab">
<table class="Citations">
    <tr>
        <th>Title, Authors, Description</th>
        <th>Date</th>
        <th>Doi</th>
        <th>Link</th>
    </tr>
    <% citations.forEach((citation) => { %>
        <%- include('citation', {"citation": citation})%>
    <% }) %>
</table>
</div>