<tr class="Citation">
    <td class="info1">
        <div class="info2">
            <h1 class="title">Citation Title Here</h1>
            <h2 class="middot" >&middot;</h2>
            <h2 class="authors">Lorem ipsum</h2>
        </div>
        <h3 class="description">consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.</h3>
    </td>
    <td class="year"><p>2022</p></td>
    <td class="doi"><p>10.3866/PKU.WHXB201112303</p></td>
    <td class="link"><a href=""><i class="fa-solid fa-link"></i></a></td>
</tr>
