<div class="footer">
    <p>Tool developed by students of Utrecht University, </br>
        in collaboration with the Netherlands eScience Center </br>
        ⓒ 2022</br>
        </p>
</div>

<style>
    .footer {
        text-align: center;
        display: block;
        font-size: 12px;
        font-style: italic;
        color: #88BF93;
        position: fixed;
        bottom: 0;
        margin: auto;
        width: 100%;
    }
</style>