<%#
This program has been developed by students from the bachelor Computer Science at
Utrecht University within the Software Project course.
© Copyright Utrecht University (Department of Information and Computing Sciences)
 %>

<div class="footer">  
    <button class="citationgraphBtn" onclick="location.href='citationgraph.html';">Citationsgraph View</button>
    <p>Tool developed by students of Utrecht University, <br>
        in collaboration with the Netherlands eScience Center <br>
        ⓒ 2023
     </p>   
</div>

<style>
    .footer {
        text-align: center;
        display: block;
        font-size: 12px;
        font-style: italic;
        color: #88BF93;
        bottom: 0;
        margin: auto;
        width: 100%;
        position: absolute;
    }

    .footer .citationgraphBtn{
        z-index: 1;
        border-radius: 12px;
        width: 11.5vw;
        color: #d9f8df;
        background-color: transparent;
        border: 2px solid #d9f8df;
        font-size: 1.1rem;
        position: absolute;
        right: 0px;
        margin-right: 15px;
        margin-top: 16px;
    }

    .footer .citationgraphBtn:hover{
    background-color: #d9f8df;
       color: #0c281e;
    }    

</style>

<%# Disable citations graph button when citations page has an error %>
<script>
    if (document.querySelector(".CitationsContainer.LeftPaneError") !== null) {
        document.querySelector(".citationgraphBtn").disabled = true;
    };
</script>