<footer>
    <div class="footer_logo">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="318px" height="284px" viewBox="0 0 318 284" enable-background="new 0 0 318 284" xml:space="preserve">  <image id="image0" width="278" height="284" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAAEcCAMAAABpgig/AAAMY2lDQ1BpY2MAAEiJlVcHWFPJFp5b
            kpCQ0AIRkBJ6E0R6kRJCCyAgVbARkkBCiSEhqNiRRQXXiohixYrYVldA1oLYy6LY+2JBQVkXC4qi
            8iYkoOu+8r3zfXPvn3/O/OfMuTO5dwDQ7OVKJDmoFgC54nxpXFgQc1xKKpP0DBCAIUCAMWByeTIJ
            KzY2CkAbvP/d3t+EntCuOSq0/tn/X02HL5DxAEAmQJzOl/FyIW4CAF/Hk0jzASAqeIup+RIFngux
            rhQmCHG5Amcq8U4FTlfiIwM+CXFsiK8AoEblcqWZAGjchzyzgJcJdTQ+Q+ws5ovEAGiOgNifJ+Ty
            IVbkPiI3d4oCV0JsC/0lEMN8gFf6d5qZf9NPH9LncjOHsHJeA6YWLJJJcrjT/8/S/G/LzZEPxrCG
            jSqUhscp5g9reDt7SqQCUyHuEqdHxyhqDXGviK+sOwAoRSgPT1T6o0Y8GRvWDzAgduZzgyMhNoI4
            VJwTHaXi0zNEoRyI4WpBp4nyOQkQ60O8UCALiVf5bJJOiVPFQusypGyWij/HlQ7EVcR6KM9OZKn0
            3wgFHJU+plEoTEiGmAKxZYEoKRpiDYidZNnxkSqf0YVCdvSgj1Qep8jfEuI4gTgsSKmPFWRIQ+NU
            /qW5ssH5YpuEIk60Ch/IFyaEK+uDneJxB/KHc8GuCMSsxEEdgWxc1OBc+ILgEOXcsQ6BODFepdMr
            yQ+KU47FKZKcWJU/bi7ICVPw5hC7yQriVWPxpHy4OJX6eIYkPzZBmSdemMWNiFXmgy8DUYANggET
            yGFLB1NAFhC1dNV3wV/KnlDABVKQCQTAUcUMjkge6BHDazwoBH9CJACyoXFBA70CUAD5L0Os8uoI
            MgZ6CwZGZINnEOeCSJADf8sHRomHoiWBp5AR/SM6FzYezDcHNkX/v+cH2W8MCzJRKkY+GJGpOehJ
            DCEGE8OJoUQ73BD3x33xKHgNhM0F98K9B+fxzZ/wjNBKeEy4QWgj3JksKpL+kOUY0Ab1Q1W1SP++
            Frg11HTHg3A/qA6VcQZuCBxxNxiHhQfAyO6QZavyVlSF+YP232bw3dNQ+ZGdySh5GDmQbPvjSA17
            DfchFUWtv6+PMtf0oXqzh3p+jM/+rvp8eI/80RNbiB3EzmInsPPYEaweMLHjWAN2CTuqwEOr6+nA
            6hqMFjeQTzbUEf0j3uCTVVRS5lzr3On8WdmXL5iWr9h47CmS6VJRpjCfyYJvBwGTI+Y5jWC6OLu4
            AKB41yj/vt4yBt4hCOPCNy7HEwCPl3DvVX/j+P4AHMYA0K75xllz4daCe+7YY55cWqDkcMWFAP8l
            NOFOMwAmwALYwvm4AA/gCwJBCIgAMSABpIBJMHshXOdSMBXMBPNACSgDy8AqsBZsBFvATrAHHAD1
            4Ag4Ac6Ai+AKuAHuwdXTDl6CbvAe9CEIQkJoCB0xQEwRK8QBcUG8EH8kBIlC4pAUJA3JRMSIHJmJ
            zEfKkBXIWmQzUoP8ghxGTiDnkVbkDvII6UTeIJ9QDKWiuqgxao2ORL1QFhqJJqAT0Uw0Dy1Ei9El
            aCVaje5G69AT6EX0BtqGvkR7MICpYwzMDHPEvDA2FoOlYhmYFJuNlWIVWDW2F2uEz/ka1oZ1YR9x
            Ik7HmbgjXMHheCLOw/Pw2fhifC2+E6/DT+HX8Ed4N/6VQCMYERwIPgQOYRwhkzCVUEKoIGwnHCKc
            hnupnfCeSCQyiDZET7gXU4hZxBnExcT1xH3EJmIr8Qmxh0QiGZAcSH6kGBKXlE8qIa0h7SYdJ10l
            tZN61dTVTNVc1ELVUtXEakVqFWq71I6pXVV7rtZH1iJbkX3IMWQ+eTp5KXkruZF8mdxO7qNoU2wo
            fpQEShZlHqWSspdymnKf8lZdXd1c3Vt9rLpIfa56pfp+9XPqj9Q/UnWo9lQ2dQJVTl1C3UFtot6h
            vqXRaNa0QFoqLZ+2hFZDO0l7SOvVoGs4aXA0+BpzNKo06jSuarzSJGtaabI0J2kWalZoHtS8rNml
            Rday1mJrcbVma1VpHda6pdWjTdcepR2jnau9WHuX9nntDh2SjrVOiA5fp1hni85JnSd0jG5BZ9N5
            9Pn0rfTT9HZdoq6NLkc3S7dMd49ui263no6em16S3jS9Kr2jem0MjGHN4DByGEsZBxg3GZ+GGQ9j
            DRMMWzRs77Crwz7oD9cP1Bfol+rv07+h/8mAaRBikG2w3KDe4IEhbmhvONZwquEGw9OGXcN1h/sO
            5w0vHX5g+F0j1MjeKM5ohtEWo0tGPcYmxmHGEuM1xieNu0wYJoEmWSblJsdMOk3ppv6mItNy0+Om
            L5h6TBYzh1nJPMXsNjMyCzeTm202azHrM7cxTzQvMt9n/sCCYuFlkWFRbtFs0W1pajnGcqZlreVd
            K7KVl5XQarXVWasP1jbWydYLrOutO2z0bTg2hTa1NvdtabYBtnm21bbX7Yh2XnbZduvtrtij9u72
            Qvsq+8sOqIOHg8hhvUPrCMII7xHiEdUjbjlSHVmOBY61jo+cGE5RTkVO9U6vRlqOTB25fOTZkV+d
            3Z1znLc63xulMypiVNGoxlFvXOxdeC5VLtddaa6hrnNcG1xfuzm4Cdw2uN12p7uPcV/g3uz+xcPT
            Q+qx16PT09IzzXOd5y0vXa9Yr8Ve57wJ3kHec7yPeH/08fDJ9zng85evo2+27y7fjtE2owWjt45+
            4mfux/Xb7Nfmz/RP89/k3xZgFsANqA54HGgRyA/cHvicZcfKYu1mvQpyDpIGHQr6wPZhz2I3BWPB
            YcGlwS0hOiGJIWtDHoaah2aG1oZ2h7mHzQhrCieER4YvD7/FMebwODWc7gjPiFkRpyKpkfGRayMf
            R9lHSaMax6BjIsasHHM/2ipaHF0fA2I4MStjHsTaxObF/jaWODZ2bNXYZ3Gj4mbGnY2nx0+O3xX/
            PiEoYWnCvUTbRHlic5Jm0oSkmqQPycHJK5Lbxo0cN2vcxRTDFFFKQyopNSl1e2rP+JDxq8a3T3Cf
            UDLh5kSbidMmnp9kOCln0tHJmpO5kw+mEdKS03alfebGcKu5Pemc9HXp3Tw2bzXvJT+QX87vFPgJ
            VgieZ/hlrMjoyPTLXJnZKQwQVgi7RGzRWtHrrPCsjVkfsmOyd2T35yTn7MtVy03LPSzWEWeLT00x
            mTJtSqvEQVIiacvzyVuV1y2NlG6XIbKJsoZ8XfhRf0luK/9J/qjAv6CqoHdq0tSD07Sniaddmm4/
            fdH054Whhdtm4DN4M5pnms2cN/PRLNaszbOR2emzm+dYzCme0z43bO7OeZR52fN+L3IuWlH0bn7y
            /MZi4+K5xU9+CvuptkSjRFpya4Hvgo0L8YWihS2LXBetWfS1lF96ocy5rKLs82Le4gs/j/q58uf+
            JRlLWpZ6LN2wjLhMvOzm8oDlO1doryhc8WTlmJV15czy0vJ3qyavOl/hVrFxNWW1fHVbZVRlwxrL
            NcvWfF4rXHujKqhq3zqjdYvWfVjPX391Q+CGvRuNN5Zt/LRJtOn25rDNddXW1RVbiFsKtjzbmrT1
            7DavbTXbDbeXbf+yQ7yjbWfczlM1njU1u4x2La1Fa+W1nbsn7L6yJ3hPw17HvZv3MfaV7Qf75ftf
            /JL2y80DkQeaD3od3Pur1a/rDtEPldYhddPruuuF9W0NKQ2thyMONzf6Nh76zem3HUfMjlQd1Tu6
            9BjlWPGx/uOFx3uaJE1dJzJPPGme3Hzv5LiT10+NPdVyOvL0uTOhZ06eZZ09fs7v3JHzPucPX/C6
            UH/R42LdJfdLh353//1Qi0dL3WXPyw1XvK80to5uPXY14OqJa8HXzlznXL94I/pG683Em7dvTbjV
            dpt/u+NOzp3Xdwvu9t2be59wv/SB1oOKh0YPq/+w+2Nfm0fb0UfBjy49jn987wnvycunsqef24uf
            0Z5VPDd9XtPh0nGkM7TzyovxL9pfSl72dZX8qf3nule2r379K/CvS93juttfS1/3v1n81uDtjndu
            75p7Ynsevs993/ehtNegd+dHr49nPyV/et439TPpc+UXuy+NXyO/3u/P7e+XcKXcgU8B+LUA0IwM
            AN7sAICWAgAdntso45VnwQFDlOfXAQT+E1aeFwfMA4BtgQAkNAEQMxeADbBZw6YJOcUnfEIgQF1d
            h5rKZBmuLkotKjwJEXr7+98aA0BqBOCLtL+/b31//5etMNk7ADTlKc+gCiPCM8MmbwW64UYpBj+Y
            8nz63Rx/vANFBm7gx/u/ANPTi7sLfMI7AAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAA
            ADqYAAAXcJy6UTwAAAEaUExURf///+jr7dzh5NHX28XM0rnCyfT19pajroqapXOGk1txgU9neERd
            b2d7iqGut3+PnHOFk9DX2624v4mZpaGuuK24wPP19rnCypakrq64wH6PnNzg5FBneH2PnHKFk2Z7
            ipajrZakrTZxeC58fjR0eiuAgCCLhjZweCeEghCbjR2Ph0JhcTpsdiWHhIqapN3h5CCLhS58fz5l
            cxqTiRiTiRSXiz5lciOHhCqAgD9kcztodDlsdiuAgTB4fTxodDtodSmDgjB4fDtpdDltdh2PiHOG
            kieDgltxgJTCwHDAuKbExrfGy3W5tDSNi0N6gXOFkpekrVZ5hbPKzdbp6OLy8Tptdqq8wn6Qm2d7
            iX+Pm3+Qm3KFksXN0omZpPFiZRMAAAABYktHRACIBR1IAAAACXBIWXMAABYlAAAWJQFJUiTwAAAA
            B3RJTUUH5gsCDBgGs3JvrQAADVhJREFUeNrtnftj27YRx0XJpGK9XMmuO3tZpsZ2YtWrmvmVbl7W
            bmvs7mntaa/u/v9/Y6ZIEJBE8g7SgXgQ359ah6KIjw53hwMINBpeXl5eXl5eXl5eXl5eXl5eXl5e
            XkoVBM1Wayucq9VqNYNI9xPZoGArbL/Y7nR7Oer0t18Mwlag+xmNVBC2dzo9lPo7Aw+RK9pqf9LF
            kePqbg9avkNHYRtpc7l22K4zwmG7vz46pu1RU3c7NCgavpDusEXq7LZ0N6daEbJjBGtjg8M2MbuU
            YFiDcByNPlHBLtHOlu7mqVWwp8Tw6mGCQ4WGx7XrJsBq4DkKsDp4sbbdymSqheeYBVYPzyGAgRZ4
            jgCM9nTB68VpjO7mb6hQcZ4HArTZAPX1Wy57e7DqIQZOlvbgJkExj0Y2GuCnuqEJss4ATfB6otr7
            uonI6DMjvJ4oi0Jw9BPdsPJ0oBsLUoExMWNRu1Z04KFxHZfJhg6sc5AG8jO+mL+rG1G59nTzKVVk
            qNuzg1+wwYKLqnRobABpWkDP3ABibsi1gd9nurFYzc8eeibys4neM7+f6uZlM71e76VR/GyjZ1b/
            tY+eSfyaulFYzS+wJN9b4WfE+MOGkVq++gbws5der7erG16jYXyNpUza6y9GTmvgpXkCxOTaMkpa
            02c7UxZROtMXm8MG07Y+fFaHDaa2LnrWO75EmqbftnS3m0gvtbg/FxxfIi3u72e6W00nDdmfSev3
            Nlbl2Z+tZZZ8VV58MWz546aqOHtxquvGqvQlOHeiLlO/SnyGr6NaRxVG31B3WxWowuTZua4b67Aq
            eo6MdZdVUfRwK+Xjqmjs5mDcSFTJu0eB7lYq08sqxh7OGl+vN1BPr6W7jQpVgfm90t1GlVJufi4b
            XwXm57TxKTc/t41Pufk5HHYTKTU/d3M+ppfe+DaSwqGH+8andOTrYp1vReoKL07W+ZalrO7nyqqM
            cinLXWoQOGIpyl3qEDhiKZp0q0XgiKUmePxcd7Oq0tj33U2kZOTxuYonfX10rBtWjlT0XjDpO3lT
            rrerHzmdTCZfnBXd8Cz9YEL4F6U3/5LyZ5jS0/sK/NJ3k3KtNvB4/vdfFt3wPP3gkXBxsS7oACro
            vQMF+C7nf7+6JsE3mby57hGJvvfCcVca3xFrNhG+yQUVvzE1PUTclcV3nf3L2/wbSuMj49ehxofI
            mWXxveetzo8e8viK7iStr4jxHZLjE3F8TYVv8iUNPurVfohlQSm+X+Ee8PpSbPWv0fiO8m93zn68
            GxJ8xEVTzAybHL7fLBhNbvSQwZcFoi9I8BFXrUbU+NK4cXGcGuGHjfExfjTmR5u6YGbHpfBdMn94
            k/zHVY7Pl8TXO5lfcEKCj7boh1kRKYMvZXHRywJwTvSQxXd2xe65uUidHzxik8PH4sZ5DOmqqNPJ
            4ku7Lwk+0nEbqlIqge80uTQZ7X4o8vnS+H5Lh48080PNcuDxsbhxtvDBleghje+cEB/ldDmq0IzH
            l8WNRN+k0WN5xLWe9V3R4BsT4kN9oYDvclXf8gvT3nqa/eEof8Qgje+4MIWUF+GEESpyiPgmq+Kt
            SuPGxXn2l7PL3Oghje8dXeJCGTtw8+NYfGnc+J3w0ZtFZ7gmvuSKtz0a0b2khZvmQOJ7zVM+rvdi
            KF4TX2rVRDUXwg02cCtykfiElI8ryXiXokchvt//IUevL5c86oaiK7rgZnhx+NIwseyhPix38TJ8
            ZaWxc/A5kaKbL8J9n4DvZlXfJBeJKd+1OFU2WY0e6+AjMz660IucIEflfWncmKd8lznNF6PHGvgu
            yIyPrmCPXE6PwXcs2Eh++ViIHmvge01Gr9ejKvkh1wYh8KUJ3lVsI9eX+QR44Vka3xXpkgWqzAWe
            4sXiOxIs7LSAAY8ehfi+freg7JN0PTcWVcUUuboFxsfiRoJyRWn4yEoH2LzvhDk+smnyuaiKBohZ
            Nhy+75IrioyEJX8seqDT5vdK+FElfsj32EB8YtzIVZr8scIzGt/Zdyr4UdXrkesiIXyrpYKiW9xI
            4uudXyrgR5U3I99HgPCJKV+B0sL9G1l8WcWfkh8VPuTXAfiuoa4b60iMHjIlg5sJOb+PRuHLLRUs
            iyWGZ7L4mN8k5Ec0atsnwXcspHwlSq3oVhpfttzNtGVW2DXhpfhY3ADvcsKjh2S975SYn1Z8d9NB
            KOj7P871J/b/aSr+MVzWn5ML/8L+86+3t8lA9uZ2rr9NR2G+Dk5uUyUmfj9bvXI0xb+XpxHf/RC4
            aVqGgKPbYnPLThlffM5p0ZC1hQWoDV8HgrcuvnGEfM7SJ0CO4Xua8GG20V8HX7f8VxGesx+VXok8
            TFMPvi6m0rMGPuhX4c8J0MNuHqoHH2qoLY8P/FWy5wTpPdsfYskY0UyvJL6/o24qjw/0p+w5l6y0
            OXqxs729M9hagIooAesJHf9gnxs+P3Wh+gv4wuIL2d15/SMK2zslt1zgHO0J3XRXLIDCRUw9+P6Z
            fgy1RWeKD46FvC17XdQt5/p06dpdbpj7YPelmiuSw/cvGehofKzdEbhdOScUra6r6/C1A+B3Us1U
            roUPs5gcjy8zKfCAGm58+efMZ3k3aH5UFRfkVq+L+HC5KRYf81rwuWbc+ArWdGanI0BfSoVPrlyq
            wvqYG4I9Am9zUWzNTkeAKklU5VK5Yn2KD3bNEvhY2IUXCWd9szgzzmI4MIczJsKHnGn79/Fc/wF+
            /XXwtXD20hNWdBd/ffbGEJC7UE0VTXH4UmVvRASzaY4eHgvw/Tfv6tRA0jvCyzT5SKHEtJgjBX5g
            qnlebIUiFbSuMAh5vxLw5U7qJy1kKQSc6nLXV3LROL0EWHNMtcoAFwUywQWX/YwDDh+DAnuRDF8Z
            GhYTgEBE9WaH7NZffbjkcrAWPni+PouWZavC2O0AV0q1wgq3sF4QouB3oBhfmWX9gLiGcGk9dqpN
            0B4I8JUEPub74Bj2EfPMY5RZ0L3Ysc4JE9ujrVaOmovmIeAb5V3eXjAEmSpJiaWy2Fa+7PMHJBxY
            lJt/HTKX8moJX5kCTHvnyhxW8S2zvK88JI7ReCDJJX6AWF4YSuBLC9iIkQyiIpD5x/JATvdeh2Tm
            AihNCAIJfAw5nIHy15iLruVxrfzHoHsdn3bTUmYgEvhYn0SYH083CrxfZlUh9kabao3QWyL2/DL4
            2PgT/iH5SDW/aMD/vTwNotyCk3TH4UD4TbD4MnePv/KZX07I49OAwJiDLvCiay4osZ+/JYOPG80W
            9FOKp3Uu3/e+yf8NyMEp9xGiix3dg4V7ovEJR+iGT+VXij4/mAre8l6soUD1NMqNXGSO6cAWaTu4
            i5mx9UVXHgQ5o5qCed4fZ0+Pd3eP09HCn8F1BpTbCMnEDiS+EHlx1kzwCF2+ygDRdGjKiXbzZolx
            Bw5f+uvLrHHZw+JD8AOr/rTbl0psm4v64qiDvVjoZAA/cYUVULGA50zoxhyxJHYMx+AL+uiLRR9V
            zm9hfV8ZP3iqnXIng1gSzg8mEvF1FpLLI0upLCZyxSWzISKLpd63Hn/A2GFQrrDdxV8cLEfI3VYj
            KrhyKT3o7DbnIVpU1IhC1KH01Ds3S04X2S7qnYddP6BtScT01qs4Wyuq5S1cpCVT00V/2litei9t
            2hILt+THDdH33Vr1XhUnBdao99L33Tr1XhV9V9FpOyZKzSmfdem9qo4JrMlJYwpOKpqrJuNeVUek
            1iN4kJ8Uk6kWqZ+646HrEDw6qs6XbcgUTa2VqsBRE/NTMeLI5Pzx2iqNrwa5i1Ljcz53UWt8zpuf
            qpS5HuanptZSG/NT6/lcNz/Vni+WxHIX26Te+BoO535VGJ/DQ49KjM/ZkS/tuYrFwm4rZJfU1fmW
            5WTyoq7Ot6x9B6NHNXEjkYPRo6K4kci56FFV3EgUODb2qC5uJDrY/JFNUqVdN5ZT3bfarhvLpe5b
            ddeNRfuKuU6hdkomlzMrrqpLmEW5kjyPtdBzxf114E2yFcmFyqkex5fIAfenx/Glsj77qz7jE2V7
            +HjQSs/28KEvbDDZXLvCnMuiWvYWD7rNzVu/uawt3dNu97C2LE1fKLdZ2kjwvh4GSm/KYjs/g+g1
            9q174cgkevbxM4uebfxMo9ewyv8ZSM8ifkbSsyZ/1lqisp1fFz69VZvMH/92jBjnFgl5dKs2IY4S
            0Src0a269D/t9T1I+wa/M21oyF2UqQGka0iBChL68PRKZbrb4woMnIAbG+/2BJnWgW3puExmReB7
            azou0745JfyuMWV5GZkSQewzvVQmeEA7TS+Rfg84tSngrirUCrBvcHkFp0BfCLG53woA9YyCuwO7
            +60A8GlzGrKa2hpv89SqGKBT8KoG6By8WBX5QHd83ipA5WmMu/BiReGjSnj31ud5oJqqTNBtwxMU
            PtCzm7lveFwBdNCkHLvpsCaGxxWFU5KXGu5m9WOXqjXYzAi79yMXUzwJRc8I17LC7sOoTu6uTM1w
            JsPw7mEW1tzqVhW1RrOnx1KK3cfpLGzW1dWhFDVbP44Gs+n0ielhOh0MwrAVeG5eXl5eXl5eXl5e
            Xl5eXl5eXl5eXl5eXkv6PzjyzCn8DEjkAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTExLTAyVDEx
            OjI0OjA2KzAxOjAw3ZtCGAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0xMS0wMlQxMToyNDowNisw
            MTowMKzG+qQAAAAodEVYdGljYzpjb3B5cmlnaHQAQ29weXJpZ2h0IEFwcGxlIEluYy4sIDIwMjLk
            tL+cAAAAF3RFWHRpY2M6ZGVzY3JpcHRpb24ARGlzcGxheRcblbgAAAAASUVORK5CYII=" />
        </svg>
        <div class="footer_copyright">
            &copy; 2022 Utrecht University
        </div>
    </div>
    <div class="footer_center">
        <div class="footer_links">
            <a href="#" onclick="openPage('Overview', this, '#ffffff')">Overview</a>
            <a href="#" onclick="openPage('Citations', this, '#ffffff')">Citations</a>
            <a href="#" onclick="openPage('FAIRness', this, '#ffffff')">FAIRness</a>
            <a href="#" onclick="openPage('Licenses', this, '#ffffff')">Licenses</a>
        </div>
    </div>
    <div class="footer_darkmode">
        <a href="dark_home.html" class="mode">Dark mode</a>
    </div>
</footer>
