<header class="header">
    <div class="header_body">
        <a href="home.html" class="header_logo">
            <!--<img class="logo" src="1.jpg">-->
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg   width="380px"
                height="35px"
                viewBox="0 0 380 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>FAIRSECO</title>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group" transform="translate(-45.000000, -201.000000)">
                        <g id="FAIRSECO" transform="translate(45.000000, 201.000000)">
                            <g id="C" transform="translate(273.836408, 0.914298)" fill="#FFFFFF">
                                <path d="M3.13860496,44.3942569 C4.19640724,44.3942569 4.91097031,44.5789124 5.92306405,44.3942569 C15.2105185,42.6997705 22.6298186,33.2542117 22.6298186,22.2023118 C22.6298186,11.2230301 15.2754071,1.79100648 6.07780039,0.0103665755 C5.00803434,-0.196738184 3.97696678,2.76797308 2.85538378,2.76797308 C-2.77174098,2.76797308 0.808853017,6.96466664 5.92306405,8.33234602 C11.0940158,9.7151994 15.2045944,16.3528664 15.2045944,22.2023118 C15.2045944,27.7639677 13.3179539,30.4904797 9.17159967,34.3156592 C8.60363563,34.533335 7.08215735,35.4759771 5.92306405,36.0722775 C4.60847884,36.7485714 3.65303442,37.2001421 3.13860496,37.7241787 C0.626115919,40.2835893 -0.352755008,44.3942569 3.13860496,44.3942569 Z" id="Oval" transform="translate(11.314909, 22.238163) scale(-1, 1) translate(-11.314909, -22.238163) "></path>
                                <rect id="Rectangle" x="16.7067546" y="36.0722775" width="29.700897" height="8.32197944"></rect>
                                <rect id="Rectangle" x="16.7067546" y="0.0103665755" width="29.700897" height="8.32197944"></rect>
                            </g>
                            <g id="E" transform="translate(227.428757, 0.924664)" fill="#FFFFFF">
                                <rect id="Rectangle" x="0" y="0" width="40.8387334" height="8.32197944"></rect>
                                <rect id="Rectangle" x="0" y="0" width="8.35337729" height="44.3838904"></rect>
                                <rect id="Rectangle" x="0.928153033" y="36.0619109" width="39.9105804" height="8.32197944"></rect>
                                <rect id="Rectangle" x="12.9941425" y="18.4932876" width="25.9882849" height="7.39731506"></rect>
                            </g>
                            <g id="O" transform="translate(324.884825, 0.914298)" fill="#FFFFFF">
                                <path d="M3.13860496,44.3942569 C4.19640724,44.3942569 4.91097031,44.5789124 5.92306405,44.3942569 C15.2105185,42.6997705 22.6298186,33.2542117 22.6298186,22.2023118 C22.6298186,11.2230301 15.2754071,1.79100648 6.07780039,0.0103665755 C5.00803434,-0.196738184 3.97696678,2.76797308 2.85538378,2.76797308 C-2.77174098,2.76797308 0.808853017,6.96466664 5.92306405,8.33234602 C11.0940158,9.7151994 15.2045944,16.3528664 15.2045944,22.2023118 C15.2045944,27.7639677 13.3179539,30.4904797 9.17159967,34.3156592 C8.60363563,34.533335 7.08215735,35.4759771 5.92306405,36.0722775 C4.60847884,36.7485714 3.65303442,37.2001421 3.13860496,37.7241787 C0.626115919,40.2835893 -0.352755008,44.3942569 3.13860496,44.3942569 Z" id="Oval" transform="translate(11.314909, 22.238163) scale(-1, 1) translate(-11.314909, -22.238163) "></path>
                                <rect id="Rectangle" x="16.7067546" y="0.0103665755" width="22.2756728" height="8.32197944"></rect>
                                <rect id="Rectangle" x="16.7067546" y="36.0722775" width="22.2756728" height="8.32197944"></rect>
                                <path d="M35.6239611,44.3942569 C36.6817634,44.3942569 37.3963265,44.5789124 38.4084202,44.3942569 C47.6958747,42.6997705 55.1151748,33.2542117 55.1151748,22.2023118 C55.1151748,11.2230301 47.7607632,1.79100648 38.5631565,0.0103665755 C37.4933905,-0.196738184 36.4623229,2.76797308 35.3407399,2.76797308 C29.7136152,2.76797308 33.2942092,6.96466664 38.4084202,8.33234602 C43.5793719,9.7151994 47.6899505,16.3528664 47.6899505,22.2023118 C47.6899505,27.7639677 45.80331,30.4904797 41.6569558,34.3156592 C41.0889918,34.533335 39.5675135,35.4759771 38.4084202,36.0722775 C37.093835,36.7485714 36.1383906,37.2001421 35.6239611,37.7241787 C33.1114721,40.2835893 32.1326011,44.3942569 35.6239611,44.3942569 Z" id="Oval"></path>
                            </g>
                            <g id="S" transform="translate(171.739575, 0.924664)" fill="#FFFFFF">
                                <rect id="Rectangle" x="12.8085118" y="0" width="34.5272928" height="8.32197944"></rect>
                                <rect id="Rectangle" x="12.0659894" y="18.4932876" width="25.5242084" height="7.39731506"></rect>
                                <rect id="Rectangle" x="0.928153033" y="36.0619109" width="36.4764142" height="8.32197944"></rect>
                                <path d="M12.9941425,0 L12.9941425,8.32197944 L12.9941425,8.32197944 C10.8570669,8.77704677 9.28153033,10.9326209 9.28153033,13.4076335 C9.28153033,15.8578465 10.8889792,18.011017 12.9941425,18.4932876 L12.9941425,25.8906027 C12.6824497,25.8906027 12.3721904,25.9121051 12.0659894,25.8906027 C5.3221666,25.4170304 0,19.7842727 0,12.9453014 C0,5.79580883 5.81767574,0 12.9941425,0 L12.9941425,0 Z" id="Combined-Shape"></path>
                                <path d="M50.1205413,18.4932876 L50.1205413,26.8152671 L50.1205413,26.8152671 C48.0042897,27.2881859 46.4079292,29.4420917 46.4079292,31.9009212 C46.4079292,34.3595107 48.0045985,36.5133946 50.1205413,36.9865753 L50.1205413,44.3838904 C42.9440746,44.3838904 37.1263989,38.5880815 37.1263989,31.438589 C37.1263989,24.2890965 42.9440746,18.4932876 50.1205413,18.4932876 L50.1205413,18.4932876 Z" id="Combined-Shape" transform="translate(43.623470, 31.438589) scale(-1, -1) translate(-43.623470, -31.438589) "></path>
                            </g>
                            <g id="R" transform="translate(116.050393, 0.924664)" fill="#1F9B8D">
                                <path d="M35.7338918,32.3632534 C43.1666609,32.3632534 49.1921107,25.1184923 49.1921107,16.1816267 C49.1921107,7.24476104 43.1666609,0 35.7338918,0 C31.543041,0 33.6117756,4.77030069 36.1979683,8.32197944 C38.1985705,11.0694532 40.4229322,12.0196345 40.8387334,16.1816267 C41.2546837,20.3451113 38.3438552,22.218098 36.1979683,24.9659383 C33.4257286,28.5158326 31.5442035,32.3632534 35.7338918,32.3632534 Z" id="Oval"></path>
                                <rect id="Rectangle" x="0" y="0" width="8.35337729" height="44.3838904"></rect>
                                <rect id="Rectangle" x="0" y="0" width="36.1979683" height="8.32197944"></rect>
                                <rect id="Rectangle" x="12.9941425" y="24.9659383" width="27.844591" height="7.39731506"></rect>
                                <polygon id="Rectangle" points="30.6793647 32.3632534 41.093358 32.3632534 52.9047229 44.3838904 41.093358 44.3838904"></polygon>
                            </g>
                            <g id="I" transform="translate(99.343638, 0.924664)" fill="#1F9B8D">
                                <rect id="i" x="0" y="0" width="9.28153033" height="44.3838904"></rect>
                            </g>
                            <g id="A" transform="translate(35.301079, 0.000000)" fill="#1F9B8D">
                                <polygon id="Rectangle" points="25.1663429 27.7399315 44.5513456 27.7399315 44.5513456 34.2125822 21.3475197 34.2125822"></polygon>
                                <polygon id="Rectangle" points="27.0460947 0.924664382 29.5616741 11.2118456 8.35337729 45.3085547 0 45.3085547"></polygon>
                                <rect id="Rectangle" x="26.9164379" y="5.54798629" width="5.5689182" height="6.47265068"></rect>
                                <polygon id="Rectangle" transform="translate(44.427478, 23.581332) scale(-1, 1) translate(-44.427478, -23.581332) " points="56.0964916 1.8541085 59.2932815 11.2118456 37.9150514 45.3085547 29.5616741 45.3085547"></polygon>
                                <ellipse id="Oval" cx="29.5616741" cy="4.16098972" rx="3.85183509" ry="4.16098972"></ellipse>
                            </g>
                            <rect id="Rectangle" fill="#1F9B8D" x="0.0312638172" y="53.6305342" width="379.61459" height="8.32197944" rx="4.16098972"></rect>
                            <g id="F" transform="translate(0.000000, 0.924664)" fill="#1F9B8D">
                                <polygon id="Rectangle" transform="translate(4.176689, 30.561497) rotate(90.000000) translate(-4.176689, -30.561497) " points="-26.3371509 26.3848085 34.6905281 26.3848085 34.6905281 34.7381858 -26.3371509 34.7381858"></polygon>
                                <rect id="Rectangle" x="13.0254063" y="19.417952" width="24.1319788" height="7.39731506"></rect>
                                <rect id="Rectangle" x="0.0312638172" y="0" width="38.9824274" height="8.32197944"></rect>
                                <rect id="Rectangle" x="0.0312638172" y="0" width="38.9824274" height="8.32197944"></rect>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <div class="header_burger">
            <span></span>
        </div>
        <nav class="header_menu">
            <ul class="header_list">
                <li class="header_li" onclick="openPage('Overview', this, '#ffffff')">Overview</li>
                <li class="header_li" onclick="openPage('Citations', this, '#ffffff')">Citations</li>
                <li class="header_li" onclick="openPage('FAIRness', this, '#ffffff')">FAIRness</li>
                <li class="header_li" onclick="openPage('Licenses', this, '#ffffff')">Licenses</li>
                <li class="header_search">
                    <form action="">
                        <input type="search">
                        <i class="fa fa-search"></i>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <div class="fline"></div>
</header>
