<div class="LeftPane">
    <div class="Branding">
        <h1 class="Name"><i class="fa-solid fa-scale-balanced"></i>FairSECO</h1>
        <h2 class="Tagline">Tagline.</h2>
    </div>
    <%- include('leftpanenav')%>
    
    <% const citations = data.find((ele) => (ele.ReturnName === "citingPapers"))?.ReturnData; %>
    <% const licences = data.find((ele) => (ele.ReturnName === "Tortellini"))?.ReturnData; %>
    <%- include('citations', {"citations": citations}) %>
    <%- include('licences', {"licences": licences}) %>
</div>
