<div class="LicencesContainer Hidden">
    <table class="Licences">
        <tr>
            <th>Type</th>
            <th>Package</th>
            <th>Rule</th>
            <th>Message</th>
        </tr>
        <% licences.violations.forEach((violation) => { %> 
        <%- include('violation', {"violation": violation})%> 
        <% }) %>
    </table>
</div>
