<ul id="RightPaneNav">
    <li class="RightPaneNav__Tab--Active" onClick="clickTab(this)" data-linked-class="HowFairIsReport">Fairness</li>
    <li onClick="clickTab(this)" data-linked-class="ImpactScore">Impact</li>
    <li onClick="clickTab(this)" data-linked-class="QualityMetrics">Quality</li>
</ul>


<style>
#RightPaneNav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 -100%, 100% -100%, 100% 65%, 0 65%);
    margin-bottom: -30px;
}

#RightPaneNav li {
    background: #D3EEE0;

    backdrop-filter: blur(50px);
    border-radius: 16px 16px 0 0;
    padding: 1.3vh 2vw;
    color: #EAFEED;
    cursor: pointer;
    z-index: 3;
    font-size: 1.2rem;
    transition: translate 300ms ease;
    height: 80px;
}

#RightPaneNav li:hover{
    translate: 0 -15px;
    transition: all 300ms ease;
}

#RightPaneNav li:nth-child(2){
    background: #729B85;
    border-radius: 0 16px 0 0;
    position: relative;
    z-index: 2;
}

#RightPaneNav li:nth-child(n+1)::before{
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left:-20px;
    width: 40px;
}

#RightPaneNav li:nth-child(2)::before{
    background: #729B85;
}
#RightPaneNav li:nth-child(3)::before{
    background: #47715A;
}

#RightPaneNav li:nth-child(3){
    background: #47715A;
    border-radius: 0 16px 0 0;
    z-index: 1;
}

.RightPaneNav__Tab--Active{
    color: #497361;
    translate: 0 -15px;
}
</style>

<script>
    function clickTab(tab) {
        const activeTab = getActiveTab();

        if (tab === activeTab) {
            return;
        }

        hideTab(activeTab);
        showTab(tab);
    }

    function getActiveTab() {
        return document.querySelector(".RightPaneNav__Tab--Active");
    }

    function hideTab(tab) {
        tab.classList.remove("RightPaneNav__Tab--Active");
        document.querySelector("." + tab.dataset.linkedClass).style.display = "none";
    }

    function showTab(tab) {
        tab.classList.add("RightPaneNav__Tab--Active");
        document.querySelector("." + tab.dataset.linkedClass).style.display = "block";
    }
</script>