<ul id="RightPaneNav">
    <li class="RightPaneNav__Tab--Active" onClick="clickTab(this)" data-linked-class="HowFairIsReport">Fairness</li>
    <li onClick="clickTab(this)" data-linked-class="ImpactScore">Impact</li>
    <li onClick="clickTab(this)" data-linked-class="Quality">Quality</li>
</ul>


<style>
#RightPaneNav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#RightPaneNav li {
    display: block;
    backdrop-filter: blur(50px);
    border-radius: 16px 16px 0 0;
    padding: 1.3vh 2vw;
    cursor: pointer;
    z-index: 3;
    font-size: 1.2rem;
    height: 51px;
    margin-bottom: -1px;
    color: #EAFEED;
}

#RightPaneNav li:hover{
    height: 66px;
    margin-bottom: -16px;
    translate: 0 -15px;
    transition: all 300ms ease;
}

#RightPaneNav li:nth-child(n+1)::before{
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    border-radius: 16px 0 0 0;
    top: 0;
    left: -20px;
    width: 40px;
}
#RightPaneNav li:nth-child(1) {
    color: #497361;
    background: #D3EEE0;
    z-index: 3;
}
#RightPaneNav li:nth-child(2) {
    background: #729B85;
    z-index: 2;
}
#RightPaneNav li:nth-child(3) {
    background: #47715A;
    z-index: 1;
}
#RightPaneNav li:nth-child(4){
    background: #0c281e;
    z-index: 0;
}

#RightPaneNav li:nth-child(2)::before{
    background: #729B85;
}
#RightPaneNav li:nth-child(3)::before{
    background: #47715A;
}
#RightPaneNav li:nth-child(4)::before{
    background: #0c281e;
}

#RightPaneNav .RightPaneNav__Tab--Active{
    height: 66px;
    margin-bottom: -16px;
    translate: 0 -15px;
}
</style>

<script>
    function clickTab(tab) {
        const activeTab = getActiveTab();

        if (tab === activeTab) {
            return;
        }

        hideTab(activeTab);
        showTab(tab);
    }

    function getActiveTab() {
        return document.querySelector(".RightPaneNav__Tab--Active");
    }

    function hideTab(tab) {
        tab.classList.remove("RightPaneNav__Tab--Active");
        document.querySelector("." + tab.dataset.linkedClass).style.display = "none";
    }

    function showTab(tab) {
        tab.classList.add("RightPaneNav__Tab--Active");
        document.querySelector("." + tab.dataset.linkedClass).style.display = "block";
    }
</script>