<% let graph = new Map(grapharr); %>
<% 
//console.log(graph)
let children = graph.get(parent).children;
%>
<div class=<%-(lastItem ? "\"SBOMItem LastChild\"" : "\"SBOMItem\"") %>>
    <div class="SBOMParent">
        <div class="ButtonAndSPDX">
        <% if(children.length){ %>
            <p class="SBOMExpandItemButton" onClick="expandItem(this)"><i class="Hidden fa-solid fa-square-minus"></i><i class="fa-solid fa-square-plus"></i></p>
        <% } %>
        <p>
            <span class="SBOMSPDX">
                <%-parent%>
            </span>
        </p>
        </div>
        <p>
            <span class="SBOMPackageName">
                <%- graph.get(parent).name%>
            </span>
        </p>
    </div>
    <div class="SBOMChildList Hidden">
        <% 
        //console.log(children);%>
        <% children.forEach((child, i, arr) => { 
        %>
            <%- include('SBOMItem', {"grapharr": grapharr, parent: child, lastItem: (i == arr.length - 1)})%>
        <%})%>
    </div>
</div>
