<div class="SearchSeco__Match">
    <h3><%- match.data.name %> (<%- match.data.file %>:<%- match.data.line %>)<%- match.vulnerable ? ' <i class="fa-solid fa-file-circle-exclamation"></i>' : '' %></h3>
</div>